{% extends 'views/base.html.twig' %}

{% block title %}New Item{% endblock %}

{% block header %}{% endblock %}

{% block body %}
<section id="item-create">
    {{ form_start(form) }}
    {% for category in form.categories %}
        <div>
            {{ form_row(category) }} <br>
        </div>
    {% endfor %}
    <input type="submit" value="Create Item" />
    {{ form_end(form) }}
</section>
{% endblock %}