<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Game Collection{% endblock %}</title>

    <!-- CSS -->
    {{ encore_entry_link_tags("css/app") }}
    {% block stylesheets %}{% endblock %}
</head>
<body>
<section id="header-wrapper">
    {% block header %}
        {% include 'views/partials/_header.html.twig' %}
    {% endblock %}
</section>

<section id="body-wrapper">
    {% block body %}

    {% endblock %}
</section>

<!-- JS -->
{{ encore_entry_script_tags("js/app") }}
{% block javascripts %}{% endblock %}
</body>
</html>
