@import 'colors';
@import 'vars';
@import 'fonts';

@import "header";
@import "form";
@import "sign";
@import "block";
@import "modal";
@import "profil/profil";

* {
  z-index: $z-normal;
}

// home
@import "home/listing";

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  padding: 0;
  margin: 0;
  background-color: $primary;
  color: $primary;
}

.hidden {
  display: none!important;
}

.inline-image {
  display: flex;
  flex-direction: row!important;
  justify-content: center;
  align-items: flex-end;
  margin-top: -40px!important;
}

#header-wrapper {
  height: $header-height;
  width: auto;
}

