input[type=text], input[type=password],
input[type=email] {
  border: none;

  padding: 5px;
  margin: 2px;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

button[type=submit],
input[type=submit] {
  border: none;

  border-radius: 7px;
  padding: 8px 15px;
  background-color: $green;
  color: white;

  cursor: pointer;
}

form .col > div {
  display: flex;
  flex-direction: column;
  flex: 2;
}

#user-detail {
  label {
    color: white;
  }
}