.Header {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;

    &-nav {
        z-index: 3;
        position: absolute;
        top: 120px;
        width: 230px;
        left: 50%;
        display: flex;
        justify-content: space-between;
        transform: translate(-50%, 0);

        
    }

    &-link {
        background-color: $complementary;
        text-decoration: none;
        color: $primary;
        padding: 15px 25px;
        width: calc(50% - 5px);
        
        text-align: center;

        &:first-child {
            border-radius: 0 0 0 10px;
        }
        
        &:last-child {
            border-radius: 0 0 10px 0;
        }
    }

    &-logo {
        z-index: 3;
        position: absolute;
        top: 30px;
        left: 50%;
        transform: translate(-50%, 0);
        text-align: center;

        &:before, &:after {
            content: '';
            display: block;
            z-index: -1;

            border-radius: 50%;
            background: rgba(245, 244, 244, 0.27);
        }

        &:before {
            position: absolute;
            top: 70%;
            left: 50%;
            transform: translate(-50%, -50%);

            width: 250px;
            height: 70px;
        }

        &:after {
            position: absolute;
            top: 80%;
            left: 50%;
            transform: translate(-50%, -40%);

            width: 220px;
            height: 100px;
        }
    }

    &-login {
        position: absolute;
        right: 15px;
        top: 30px;

        display: flex;
        flex-direction: column;
        align-items: center;
        #header-username-avatar-wrapper {
            z-index: 3;

            display: flex;
            align-items: center;
            #header-username {
                width: 120px;
                height: 30px;
                background-color: $complementary;
                color: $primary;

                padding: 5px 15px;
                border-radius: 0 0 0 10px;

                text-align: center;
            }

            #header-login-avatar {
                margin: {
                    left: -15px;
                }
                width: 48px;
                height: 48px;
                background-color: $complementary;
                border-radius: 50%;

                img {
                    width: 48px;
                    height: 48px;
                }

                text-align: center;
                overflow: hidden;
            }
        }

        & .sign {
            z-index: $z-normal;
            padding: 5px 10px;
            margin: {
                top: -10px;
                right: -20px;
            };
            width: 110px;

            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 0 0 10px 10px;

            text-align: center;
            color: $complementary;

            &#header-logout {
                background-color: $red;
            }

            &#header-signin {
                background: $green;
            }

            cursor: pointer;
        }
    }
}