// z-index values
$z-normal: 1;
$z-modal: 9;

// font size
$fs-9: 9px;
$fs-11: 11px;
$fs-12: 12px;
$fs-14: 14px;
$fs-16: 16px;
$fs-24: 24px;
$fs-36: 36px;
$fs-64: 64px;

$fs-1--em: 1em;
$fs-half--em: 0.5em;
$fs-2--em: 2em;

// border radius
$br-button: 7px;